%% -*- erlang -*-
{sub_dirs, ["rel", "src"]}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
          {poolboy, ".*", {git, "https://github.com/ElMaxo/poolboy", {branch, "master"}}},
          {riakhttpc, ".*", {git, "https://github.com/basho/riak-erlang-http-client", {branch, "master"}}}
       ]}.